<h1>Contact Us</h1>
<form>
  <input type="email" placeholder="Enter your email">
  <button type="submit">Submit</button>
</form>

<%- contentFor('image') %>
<img src="https://media.istockphoto.com/id/1452771551/vector/contact-us-button-with-cursor-pointer-click-vector-web-button.jpg?s=612x612&w=0&k=20&c=IGWQ-VhsNAnZyKnuWhggHhpozUiuFRq5jd-rJ7-KqIc=">

<%- contentFor('footer') %>
This is the footer section of contact page