<h1>Welcome to TravelBooking</h1>
<img src="https://business.booking.com/storage/assets/media/34/blog2-at-4x_dc76a24c5a809dccd105c804648ffc9113ea0c7601e2096e8f88.webp">

<%- contentFor('image') %>
<img src="https://www.searchenginejournal.com/wp-content/uploads/2019/10/25-of-the-best-examples-of-home-pages-5dc504205de2e.png">

<%- contentFor('footer') %>
This is the footer section of home page